body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #e7e4dc;
    color: #443b3b;}

.top-section {
    background-color: rgb(249, 246, 246);
    padding: 40px;
    text-align: center;
    border-bottom: 1px solid #ffffff;}
.top-section h1 {margin: 0;}

.certificates-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;}
.certificate {
    background-color: #fcfcfd;
    padding: 15px;
    border-radius: 15px;}

.certificate img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;}

footer {
    text-align: center;
    background-color: #222;
    color: rgba(255, 255, 255, 0.47);
    padding: 20px;}

@media (max-width: 600px) {
    .certificates-container {
        grid-template-columns: 1fr;
        padding: 15px;}}